/********** Template CSS **********/
:root {
    --primary: #eb1616;
    --secondary: #191c24;
    --light: #6c7293;
    --dark: #000000;
    --font-size-h1: 70px;
    --font-size-h2: 50px;
    --font-size-h3: 30px;
    --font-size-h4: 24px;
    --font-size-h5: 18px;
    --font-size-h6: 16px;
    --font-size-p: 16px;
    --font-white-color: white;
    --font-dark-color: #111111;
}
